.tablink {
  background-color: #e4e4e4;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 33%;
    outline-style: none !important;
}

.tablink:hover {
/*   background-color: #082c45; */
/*   background-color: white !important; */
}

/ Style the tab content (and add height:100% for full page content) /
.tabcontent {
  color: black;
  display: none;
/*  padding: 100px 20px;*/
  height: 100%;
}

#All {background-color: white;}
#Mapped {background-color: white;}

.review_imgs img {
    margin-top: 1rem;
    width: 330px;
    height: 210px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 15px;
}
.add_imgs img {
    width: 80px;
    height: 80px;
    -o-object-fit: cover;
    object-fit: cover;
/*     border-radius: 13px; */
    position: relative;
}
.add_imgs li {
    vertical-align: top;
    position: relative;
}
.add_imgs li i {
    position: absolute;
    top: -6px;
    right: -4px;
    font-size: 1.2rem;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile-5 + label {
    color: #555;
}
.inputfile + label {
    max-width: 100%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem 0.525rem;
    margin-bottom: 0;
}
.inputfile + label * {
    pointer-events: none;
}
.inputfile + label {
    padding: 0 !important;
}

/* input[type='time']::-webkit-calendar-picker-indicator{
  display:block !important;
  top:0 !important;
  left:0;
  background: #0000 !important;
  position:absolute !important;
  transform: scale(12) !important;
} */

.ki-close:before {
    content: "\f130" !important;
}
.ki:before {
    font-family: "Ki" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    line-height: 1 !important;
    text-decoration: inherit !important;
    text-rendering: optimizeLegibility !important;
    text-transform: none !important;
    -moz-osx-font-smoothing: grayscale !important;
    -webkit-font-smoothing: antialiased !important;
    font-smoothing: antialiased !important;
}
button.close {
    padding: 0 !important;
    background-color: transparent !important;
    border: 0 !important;
}
.close {
    float: right !important;
    font-size: 1.5rem !important;
    font-weight: 500 !important;
    line-height: 1 !important;
    color: #000000 !important;
    text-shadow: 0 1px 0 #ffffff !important;
    opacity: .5 !important;
}
.dropdown-check-list {
  display: inline-block;
}

.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid #ccc;
}

.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%;
}

.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
}

.dropdown-check-list ul.items li {
  list-style: none;
}

.dropdown-check-list.visible .anchor {
  color: #0094ff;
}

.dropdown-check-list.visible .items {
  display: block;
}

   .segmentbg{
    width: 500px;
    background-color: #fff;
    box-shadow: 0px 0px 11px 0px #e6e6e6;
    padding: 12px;
    margin: 0 auto;
    margin-bottom: 34px;
     
  border-radius: 7px;
}
.tab {
    display: flex;
    max-width: 381px;
    width: 100%;
    position: relative;
    user-select: none;
    z-index: 1;
    margin: 0 auto;
    font-size: 16px;
}

/* Style the buttons inside the tab */

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 16px;
  transition: 0.3s;
  font-size: 14px;
  width: 500px;
}
    

/* Change background color of buttons on hover */


/* Create an active/current tablink class */
.tab button.active {
  background-color: #5465ff;
    color: #fff;
    border-radius: 7px;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  
}

 option:before { content: "☐ " }
       option:checked:before { content: "☑ " }